body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  overflow-x: hidden;
}

nav {
  height: 100vh;
  display: flex;
  width: 40px;
  position: sticky;
  z-index: 999;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: inherit;
}
nav ul li {
  height: 50%;
  width: inherit;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
}

#left {
  float: left;
}
#left li:nth-child(even) {
  background-color: black;
}
#left li:nth-child(even) a {
  color: white;
}
#left li:nth-child(odd) {
  background-color: white;
}
#left li:nth-child(odd) a {
  color: black;
}
#left li a {
  display: block;
  transform: rotate(-90deg);
}

#right {
  float: right;
}
#right li:nth-child(even) {
  background-color: white;
}
#right li:nth-child(even) a {
  color: black;
}
#right li:nth-child(odd) {
  background-color: black;
}
#right li:nth-child(odd) a {
  color: white;
}
#right li a {
  display: block;
  transform: rotate(90deg);
}

@keyframes left {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0px;
  }
}
.left {
  animation-name: left;
  animation-duration: 1s;
}

@keyframes noneLeft {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -40px;
  }
}
.noneLeft {
  animation-name: noneLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes right {
  from {
    margin-right: -40px;
  }
  to {
    margin-right: 0px;
  }
}
.right {
  animation-name: right;
  animation-duration: 1s;
}

@keyframes noneRight {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: -40px;
  }
}
.noneRight {
  animation-name: noneRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

header {
  background-image: url("../images/header.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
header h1 {
  margin: 0;
  padding: 20px 0 0 calc(10% + 40px);
  color: #ea1e48;
  font-size: 3em;
  letter-spacing: 0.5em;
  max-width: 45%;
}
@media only Screen and (max-width: 992px) {
  header h1 {
    font-size: 1em;
  }
}
header h1 span {
  color: tomato;
  display: block;
}

main {
  position: relative;
}
main section {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 0 40px;
}
main section:nth-child(odd) {
  background-color: white;
}
main section a:hover,
main section a:focus {
  color: #ea1e48;
}
main section h2 {
  width: 100%;
  margin-left: 25px;
  margin-bottom: 0;
}
main section div {
  width: 100%;
  text-align: center;
  margin: 5% auto;
}
main section article {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 2%;
  min-height: 55vh;
  border: 1px solid black;
  border-radius: 25px;
}
@media only Screen and (max-width: 992px) {
  main section article {
    width: 90%;
    min-height: unset;
  }
}
main section article a {
  overflow: hidden;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
  text-align: center;
}
main section article a span {
  position: absolute;
  z-index: 999;
  display: block;
  background-color: rgba(235, 235, 235, 0.5);
  color: black;
  width: 20%;
  border-radius: 15px;
  border: 1px solid black;
}
main section article a:hover span,
main section article a:focus span {
  color: #ea1e48;
}
main section article a:hover img,
main section article a:focus img {
  opacity: 0.85;
  transform: scale(1.05);
}
main section article h3,
main section article p {
  margin: 0;
}
@media only Screen and (max-width: 992px) {
  main section article h3,
  main section article p {
    margin: 3%;
  }
}
main section article img {
  width: 100%;
  transition: transform 1s;
  display: block;
  margin: auto;
}

/*# sourceMappingURL=app.css.map */
