@import "variables";

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
}

nav {
    height: 100vh;
    display: flex;
    width: 40px;
    position: sticky;
    z-index: 999;
    top: 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: inherit;
        li {
            height: 50%;
            width: inherit;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
            }
        }
    }
}

#left {
    float: left;
    li:nth-child(even) {
        background-color: $c4;
        a {
            color: $c3;
        }
    }
    li:nth-child(odd) {
        background-color: $c3;
        a {
            color: $c4;
        }
    }
    li a {
        display: block;
        transform: rotate(-90deg);
    }
}

#right {
    float: right;
    li:nth-child(even) {
        background-color: $c3;
        a {
            color: $c4;
        }
    }
    li:nth-child(odd) {
        background-color: $c4;
        a {
            color: $c3;
        }
    }
    li a {
        display: block;
        transform: rotate(90deg);
    }
}

@keyframes left {
    from {
        margin-left: -40px;
    }
    to {
        margin-left: 0px;
    }
}

.left {
    animation-name: left;
    animation-duration: 1s;
}

@keyframes noneLeft {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: -40px;
    }
}

.noneLeft {
    animation-name: noneLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes right {
    from {
        margin-right: -40px;
    }
    to {
        margin-right: 0px;
    }
}

.right {
    animation-name: right;
    animation-duration: 1s;
}

@keyframes noneRight {
    from {
        margin-right: 0px;
    }
    to {
        margin-right: -40px;
    }
}

.noneRight {
    animation-name: noneRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header {
    background-image: url("../images/header.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    h1 {
        margin: 0;
        padding: 20px 0 0 calc(10% + 40px);
        color: $c1;
        font-size: 3em;
        letter-spacing: 0.5em;
        max-width: 45%;
        @media only Screen and (max-width: 992px) {
            font-size: 1em;
        }
        span {
            color: $c2;
            display: block;
        }
    }
}

main {
    position: relative;
    section {
        background-color: $c5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
        padding: 0 40px;
        &:nth-child(odd) {
            background-color: $c3;
        }
        a:hover,
        a:focus {
            color: $c1;
        }
        h2 {
            width: 100%;
            margin-left: 25px;
            margin-bottom: 0;
        }
        div {
            width: 100%;
            text-align: center;
            margin: 5% auto;
        }
        article {
            position: relative;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            margin: 2%;
            min-height: 55vh;
            border: 1px solid $c4;
            border-radius: 25px;
            @media only Screen and (max-width: 992px) {
                width: 90%;
                min-height: unset;
            }
            a {
                overflow: hidden;
                width: 80%;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                border: 1px solid $c4;
                position: relative;
                text-align: center;
                span {
                    position: absolute;
                    z-index: 999;
                    display: block;
                    background-color: rgba($c5, 0.75);
                    color: $c4;
                    width: 120px;
                    border-radius: 15px;
                    border: 1px solid $c4;
                }
            }
            a:hover span,
            a:focus span {
                color: $c1;
            }
            a:hover img,
            a:focus img  {
                opacity: 0.85;
                transform: scale(1.05);
            }
            h3,
            p {
                margin: 0;
                @media only Screen and (max-width: 992px) {
                    margin: 3%;
                }
            }
            img {
                width: 100%;
                transition: transform 1s;
                display: block;
                margin: auto;
            }
        }
    }
}
